<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>78943285000-iu8l7lcqohebh0egdc4v11m9ns5uun2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.78943285000-iu8l7lcqohebh0egdc4v11m9ns5uun2j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>78943285000-9dqjoig24panqpsifc5rqi4lome5n52k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnO877ZA58pDZQANpCEojnUhfv3NNnVss</string>
	<key>GCM_SENDER_ID</key>
	<string>78943285000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAdmobExample</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-837c0</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-837c0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78943285000:ios:d82661fc8aedeb30</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo-837c0.firebaseio.com</string>
</dict>
</plist>